body{
    width: 90%;
    height: 99vh;
    display: grid;
    place-items: center;
    /* text-align: center; */
}
.text{
    font-size: 80px;
    color: transparent;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(229, 69, 231, 1) 100%);
    -webkit-background-clip: text;
}